@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {    
    background-color:#f5f5f5;

    margin-right: auto;
    margin-left:  auto;
    margin-bottom: 8em;
  
    max-width: 960px;
  
    padding-right: 30px;
    padding-left:  30px;


  }
.main {
    font-family: 'Raleway';
    font-weight: 400; /* Regular */
    color:rgb(54, 54, 54);
}
h1, h2, h3 {
    font-weight: Bold; /* Semibold */
}
a {
    text-decoration: none;
    color:rgb(54, 54, 54);
    border-bottom: 1px dashed rgb(54, 54, 54);
}
a:hover {
    border-bottom: 1px dashed rgb(172, 172, 172);
}
dl{
    line-height: 1.4em;
}
dt {
    float:left;
    clear:left;
}
dd {
    float:left;
}